

span
{
    display:inline-block;
    padding:25px;
    font-size: 1.5rem;
    font-weight: bold;
}
h2
{
    font-size: 1.5rem;
    font-weight: bold;
    background:silver;
    padding:20px 20px;
    margin-right: 20px;
}

#menu-icon
{
    padding:20px;
    
}

#first-container
{
    height:100px;
    background:#ffffff;
}

ul li
{
    list-style-type: none;
    padding:20px;
    padding-top:30px;
    padding-bottom:30px;
    border-top:0.5px solid black;
    margin-right: 20px;
    
}

li a
{
    text-decoration: none;
    font-size: 1.5rem;
    color:#b77d3c;
    font-weight: 500;   
}

.icon
{
    width:50px;
    float:right;
    padding:15px;
   
}

.adjust-image
{
  width:100px;
  
}

.header
{
    width:100%;
    height:100px;
    background:white;
    display: flex; 
}
.header img
{
    display:block;
    margin-left:auto;
    margin-right: auto;
    height: 50px;
    padding-top: 30px;
    
   
}

.menu-container
{
    width:450px;
    border:1px solid grey;
    background:#f5f4f2;
    position:fixed;
    top:0;
    left:0;  
    transform:translateX(-450px); 
    transition: transform 0.5s;
    

}
.openMenu.menu-container
{
    transform:translateX(8px);
    
}
.arrow
{
 transition: transform 0.5;
}
.open-panel.arrow
{
    transform: rotateY(-180deg);
}
.panel
{
 height:100px;
 overflow:hidden;
 transition:height 0.5s;
 
}
.open-panel.panel
{
    height:400px;
    overflow-y: scroll;
    
}

.right-spacing
{
    margin-left:30px;
}


